@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #FFFFFF;
    --icon-color: #b0b0be;
    --icon-hover-bg: #5a5d6e;
    --placeholder-color: #c3c2c2;
    --outgoing-chat-bg: #31323c;
    --incoming-chat-bg: #444754;
    --outgoing-chat-border: #31323c;
    --incoming-chat-border:#444754; 
}
body {
    background-color: var(--outgoing-chat-bg);
}


.chat-container .chat {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    color: var(--text-color); 
}
    
.chat-container .chat.outgoing {
background-color: var(--outgoing-chat-bg);
border: 1px solid var(--outgoing-chat-border);
}
.chat-container .chat.incoming {
    background-color: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}
.chat .chat-content{
display: flex;
max-width: 1200px;
width: 100%;
align-items: flex-start;
justify-content: space-between;
}

.chat .chat-content span {
font-size: 1.3rem ;
color: var(--icon-color);
visibility: hidden;
}

.chat .chat-details  {
   display: flex;
    align-items: center;
    } 

.chat .chat-details img {
width: 35px;
height: 35px;
object-fit: cover;
border-radius: 2px;
} 

.chat .chat-details p {
white-space: pre-wrap;
font-size: 1.05rem;
padding: 0 50px 0 25px;
}
span.material-symbols-rounded{
    user-select: none;
    cursor: pointer;

}